[Unit]
Description=endeavour-gpo: Computer Group Policy after graphical.target
Documentation=https://github.com/thelad-dev/endeavour-gpo
After=graphical.target network-online.target winbind.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/endeavour-gpo/endeavour-gpupdate-login.sh
RemainAfterExit=no

[Install]
WantedBy=graphical.target
